{%extends ('credential.jinja')%}
{%block card%}


<div class="card">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>

    <dl>
        {% for grouping in groupings %}
        <dt>{{grouping}}</dt>
        <dd>
            <dl>
                {% for path in groupings[grouping] %}
                <dt>{{path}}</dt>
                <dd>{{groupings[grouping][path]}}</dd>
                {% endfor %}
            </dl>
        </dd>
        {% endfor %}
    </dl>
</div>

{%endblock%}